*{
   
}
body{
    background-color:lightgray;
    margin:auto;
}
nav{
    text-align:center;
    background-color:lightskyblue;
    height: 3rem;
  
    
}
a {
    margin-left:3rem;
    margin-right:3rem;
    color:slategray;
    text-decoration:none;
    padding-top:3rem;
  
   
}
.nav-links{
   text-align:center;
   margin:0;
   padding-top: 1rem;
 
}
.resume{
    margin-top:3rem;
    text-align:center;
    width:60%;
    border:solid whitesmoke 1px;
    padding:10px;
    margin-left: auto;
    margin-right:auto;
    box-shadow: 5px 10px 18px #888888;
    margin-bottom: 3rem;
    background-color:whitesmoke;
}

footer{
    /* width:80%;
    text-align:center;
    border:solid black 5px;
    padding:3rem;
    margin-top:3rem;
    margin-left:6rem; */
    background-color: lightskyblue;
    height:50px;
}
footer p {
    padding-top: 1rem;
    color:slategray;
}
h1{
    margin:1rem;
}
h2{
    text-align: start;
    margin-left:3rem;
}
h3{
    margin-top:3rem;
    text-align: start;
    margin-left:3rem; 
}
#summary{
    text-align: center;
    margin:1rem;
}
#summary-p{
    text-align: center;
    margin: 1rem 3rem 0rem 3rem;
}
p{
    text-align: end;
    margin-right:3rem;
}
div{
    margin:1rem;
    padding:1 rem;
}
li{
    text-align: start;
    margin:1rem;
}
hr{
    margin:3rem;
}
img{
    height:10%;
    width:10%;
}